//FOOTER

footer{
  background-color: $light-gray;
  padding: 20px 0;
  text-align:center;

  ul{
    margin:0;
    text-transform:uppercase;
  }

    li{
      display:inline-block;
      padding: 0 10px;
    }

  p{
    font-size:.9em;
    margin:0;
  }
}
