.hero {
  background-color:#006992;


  img {
    width:55%;
  }

  .container {
    display:inline-block;
    padding-left:30px;
    top:-60px;
    width:30%;
  }

  h1, p {
    color: #fff;
  }

  h1{
    font-size: 3.5em;
  }

  p {
    font-size: 1.4em;
    padding:10px 0 30px;
  }

  input {
    opacity:.2;
    width:70%;
    height:40px;
  }

}

.icons {

  h2{

  }

  img {
    margin:0 auto;
    padding-bottom:10px;
    width:45%;
  }

  p {
    font-size:1.3em;
    text-align:center;
    text-transform:uppercase;
  }

  .one-third {
    text-align:center;
  }
}

.video-container {
  background: transparent url(../images/video-bk-image.png) center center no-repeat;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 300px;
  padding: 120px 0;
  width:100%;

  h3, p{
    text-align:center;
  }

  .play {
    text-align: center;

  img{
    padding-top: 15px;
    width: 30px;
  }

  p{
    display: inline-block;
    margin-top: -5px;
    text-align: left;
    text-transform: uppercase;
  }

  }
}

.steps {

  .one-fifth {
    text-align: center;
  }

  .number {
    border: 2px solid #000;
    border-radius: 20em;
    @extend %sans-light;
    font-size:3em;
    height: 70px;
    line-height: 65px;
    margin:0 auto;
    width: 70px;
  }
}

%tag{
  background-color: #ebebeb;
  color: #959595;
  padding: 0.5em 1.0em;
  text-align: center;
}


.doc-type-tag{
  @extend %tag;
  background-color: red;
}


