section.hero {
  background-color:#006992;


  img {
    width:55%;
  }

  .container {
    display:inline-block;
    padding-left:30px;
    top:-60px;
    width:30%;
  }

  h1, p {
    color:#fff;
  }

  h1{
    font-size: 3.5em;
  }

  p {
    font-size:1.4em;
    padding:10px 0 30px;
  }

  input {
    opacity:.2;
    width:70%;
    height:40px;
  }

}

section.icons {

  h2{

  }

  img {
    margin:0 auto;
    padding-bottom:10px;
    width:45%;
  }

  p {
    font-size:1.3em;
    text-align:center;
    text-transform:uppercase;
  }

  .one-third {
    text-align:center;
  }
}

section.video {
  background: transparent url(../images/video-bk-image.png) center center no-repeat;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 120px 0;
  width:100%;

  h3, p{
    text-align:center;
  }

  .play {
    text-align: center;

  img{
    padding-top: 15px;
    width:30px;
  }

  p{
    display:inline-block;
    margin-top:-5px;


    text-align:left;
    text-transform:uppercase;
  }

  }
}

section.steps {

  .one-fifth {
    text-align: center;
  }

  p{

  }

  p.number {
    @extend %sans-light;
    border: 2px solid #000;
    border-radius:50%;
    font-size:3em;
    height: 70px;
    line-height: 65px;
    margin:0 auto;
    width: 70px;
  }
}


